<div class="container" style="margin-top: 10em;">
<div id="<%= dom_id skill %>">
  <p>
    <strong>Name:</strong>
    <%= skill.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= skill.description %>
  </p>

  <p>
    <strong>Icon:</strong>
    <%= skill.icon %>
  </p>

</div>
</div>